body { font-family: Arial; margin:0; }

.hide { display:none; }

.center {
  text-align:center;
  margin-top:100px;
}

.navbar {
  display:flex;
  justify-content:space-between;
  padding:10px;
  background:#fff;
}

.grid {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  padding:10px;
}

.grid div {
  background:#eee;
  padding:20px;
  text-align:center;
  cursor:pointer;
}

.slider img {
  width:100%;
  display:none;
}

.slider img:first-child {
  display:block;
}
